## Welcome! 👋😎

🌀 Last refresh at {{date}}. <br /><br />
<ul>
    <li>Weather in {{location}} : {{weather}}</li>
    <li>Current temperature : {{temperature}}°C.</li>
    <li>Humidity : {{humidity}}%.</li>
    <li>Wind speed : {{wind_speed}} km/h.</li>
    <br />
    <li>Today min / max temperature : {{temp_min}}°C {{temp_max}}°C</li>
    <li>Today sunrise / sunset : {{sunrise}} {{sunset}}</li>
    <li>Still {{time_before_sunset}} before sunset and {{time_before_friday}} hours before Friday night 💅.</li>
</ul>